{% extends 'myapp/base.html' %} {% block content %}
<div class="container py-5">
    <div class="card bg-gradient bg-success">
        <div class="card-body">
            <h2 class="my-3 text-center text-light">Bus Reservation System</h2>
        </div>
    </div>
</div>
<!-- New container for list of buses -->
<div class="container py-1">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">List of Available Buses</h3>
           
            {% if buses %}
            <table class="table">
              <thead>
                <tr>
                  <th>Bus Name</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Number of Seats</th>
                  <th>Remaining Seats</th>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {% for bus in buses %}
                <tr>
                  <td>{{ bus.bus_name }}</td>
                  <td>{{ bus.source }}</td>
                  <td>{{ bus.dest }}</td>
                  <td>{{ bus.nos }}</td>
                  <td>{{ bus.rem }}</td>
                  <td>{{ bus.date }}</td>
                  <td>{{ bus.time }}</td>
                  <td>
                    <a href="{% url 'findbus' %}" class="btn btn-primary">Book</a>
                </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>No buses available.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}